@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Face Analyzer</h1>
    <p class="lead">Introducción a Microsoft Cognitive Services - Jornadas de Ciencias de la Computación 2019 - Universidad Nacional de Rorario</p>
    <hr class="my-4">
    <p>Demo App que permite ver el servicio de reconocimiento de rostros en acción</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Camera" asp-action="Capture" role="button">Comenzar</a>
    </p>
</div>